{% extends 'mobile/base.html' %}

{% block head %}
<style>
  .btn-group-sm .btn {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">
  <table class="table">
    <tbody>
      <thead>
        <th>#</th>
        <th> </th>
        <th>Song</th>
        <th>Added by</th>
        <th> </th>
      </thead>
      {% for i in song_queue %}
      <tr>
        <td>
          {{ loop.index }}
        </td>
        <td>
          <div class="btn-group btn-group-sm">
            {% if loop.index > 2 %} <button type="button" onclick="move_up('{{ song_queue.index(i) }}')"
              class="btn"><img src="./static/icons/arrow-up-circle.webp" alt="up" class="img"></button>{% endif %}
            {% if loop.index < loop.length and loop.index> 1 %} <button type="button"
                onclick="move_down('{{ song_queue.index(i) }}')" class="btn"><img
                  src="./static/icons/arrow-down-circle.webp" alt="down" class="img"></button>{% endif %}
          </div>
        </td>
        <td>
          {{ song_queue[i]["title"] }}
        </td>
        <td>
          {{ song_queue[i]["user"] }}
        </td>
        <td>
          {% if loop.index > 1 %}<button type="button btn-sm" onclick="del_song('{{ song_queue.index(i) }}')"
            class="btn"><img src="./static/icons/trash3.webp" alt="delete" class="img"></button>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container-fluid my-3">
  <button type="button" onclick=queue_random() class="btn btn-primary">Add 5 random songs</button>
</div>


<script>
  const socket = io("{{ url_for('index') }}");

  let username = localStorage.getItem("username");

  if (username == null) {
    let username = prompt("Enter your username");
    localStorage.setItem("username", username);
  }

  function move_down(id) {
    socket.emit('move_down', id);
    location.reload();
  }

  function move_up(id) {
    socket.emit('move_up', id);
    location.reload();
  }

  function del_song(id) {
    socket.emit('del_song', id);
    location.reload();
  }

  function queue_random() {
    socket.emit('queue_random', username)
  }

</script>

{% endblock %}