{% extends 'tv/base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row pt-3">
        <div class="col text-warning" id="title">
            <h2><img id="logo" src="/static/icons/logo.png" alt="logo" width="32px" height="32px"> OpenMic Karaoke! <img id="logo" src="/static/icons/logo.png" alt="logo" width="32px" height="32px"></h2>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col" id="server-ip">
            <h3>IP Address:</h3>
            <h3>http://{{ local_ip }}:{{ port }}</h3>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col" id="qr-code">
            <p>Scan QR Code to add a song</p>
            <img id="qr-image" src="/static/qrcode.png" alt="qrcode">
        </div>
    </div>

    <div class="row pt-5">
        <div class="col">
            <p>Press F11 to toggle fullscreen</p>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script>
    socket.on('play_video', function() {
        window.location.replace("{{ url_for('up_next') }}");
    });
</script>
{% endblock %}


