{% extends 'mobile_base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <h1>Player Control</h1>
    <div id="player-control" class="btn-group d-flex m-3 justify-content-center">
        <button name="restart" type="button" onclick="restart()" class="btn btn-sm"><img src="./static/icons/rewind.png" alt="Restart" class="img-fluid"></button>
        <button name="pause" type="button" onclick="pause()" class="btn btn-sm"><img src="./static/icons/pause-button.png" alt="Pause" class="img-fluid"></button>
        <button name="skip" type="button" onclick="skip()" class="btn btn-sm"><img src="./static/icons/fast-forward.png" alt="Skip" class="img-fluid"></button>
    </form>
</div>


<script>
    const socket = io("{{ url_for('index') }}");

    function restart(){
        socket.emit('player_restart');
    }

    function pause(){
        socket.emit('player_pause');
    }

    function skip(){
        socket.emit('player_skip');
    }
</script>
{% endblock %}