{% extends 'mobile_base.html' %}

{% block head %}
<style>
    .img {
      height:64px;
      width:64px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Player Control</h1>
    <div id="player-control" class="btn-group d-flex m-3 justify-content-center">
        <button name="restart" type="button" onclick="restart()" class="btn btn-sm"><img src="./static/icons/rewind.webp" alt="Restart" class="img"></button>
        <button name="pause" type="button" onclick="pause()" class="btn btn-sm" id="pauseButton">
            <img src="./static/icons/pause-btn.webp" alt="Pause" class="img" id="pauseIcon">
        </button>
        <button name="skip" type="button" onclick="skip()" class="btn btn-sm"><img src="./static/icons/fast-forward.webp" alt="Skip" class="img"></button>
    </form>
</div>


<script>
    const socket = io("{{ url_for('index') }}");

    function restart(){
        socket.emit('player_restart');
    }

    function pause(){
        socket.emit('player_pause');
    }

    function skip(){
        socket.emit('player_skip');
    }


    var icon = document.getElementById('pauseIcon');

    socket.on('player_paused', function() {
        icon.src = './static/icons/play-btn.webp';
    });

    socket.on('player_resumed', function() {
        icon.src = './static/icons/pause-btn.webp';
    });

</script>
{% endblock %}