{% extends 'mobile_base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div>
    <h1>Player Control</h1>
    <form id="player-control" method="post" class="btn-group d-flex m-3 justify-content-center">
        <button type="submit" class="btn" name="restart">
            <img src="./static/icons/rewind.png" alt="Restart">
        </button>
        <button type="submit" class="btn" name="pause">
            <img type="submit" class="btn" src="./static/icons/pause-button.png" alt="Pause">
        </button>
        <button type="submit" class="btn" name="skip">
            <img src="./static/icons/fast-forward.png" alt="Skip">
        </button>
    </form>
</div>

{% endblock %}