{% extends 'mobile_base.html' %}

{% block head %}
<style>
  .btn-group-sm .btn {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
</style>
{% endblock %}

</style>
{% block content %}
<div class="container mt-3">        
  <table class="table">
    <tbody>
      <thead>
        <th>#</th>
        <th> </th>
        <th>Song</th>
        <th> </th>
      </thead>
      {% for i in song_queue %}
        <tr>
          <td>
            {{ loop.index }}
          </td>
          <td>
            <div class="btn-group btn-group-sm">
              {% if loop.index > 2 %} <button type="button" onclick="move_up('{{ i }}')" class="btn"><img src="./static/icons/arrow-up-circle.webp" alt="up" class="img"></button>{% endif %}
              {% if loop.index < loop.length and loop.index > 1 %} <button type="button" onclick="move_down('{{ i }}')" class="btn"><img src="./static/icons/arrow-down-circle.webp" alt="down" class="img"></button>{% endif %}
            </div>
          </td>
          <td>
            {{ song_dict[i] }}
          </td>
          <td>
            {% if loop.index >= 1 %}<button type="button btn-sm" onclick="del_song('{{ i }}')" class="btn"><img src="./static/icons/trash3.webp" alt="delete" class="img"></button>{% endif %}
          </td>
        </tr>
      {% endfor %}
      
    
    
    </tbody>
  </table>
</div>

<script>
  const socket = io("{{ url_for('index') }}");

  function move_down(id) {
    socket.emit('move_down', id );
    location.reload();
  }

  function move_up(id) {
    socket.emit('move_up', id );
    location.reload();
  }

  function del_song(id) {
    socket.emit('del_song', id );
    location.reload();
  }

</script>

{% endblock %}
