{% extends 'mobile_base.html' %}

{% block content %}
<div class="container-fluid my-3">
  <form method="post">
    <div>
      <label for="song" class="form-label">Song:</label>
      <input type="text" class="form-control" id="search" name="search">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> 
</div>

{% if not result %}

<div class="container-fluid my-3">
  <button type="button" onclick=queue_random() class="btn btn-primary">Add 5 random songs</button>
</div>

{% endif %}


{% if result %}
<div class="container-fluid">
  <div class="row">
{% for r in result['entries'] %}
    <div class="col-lg card my-3 mx-auto text-center" style="width:400px">
      <img src="{{ r['thumbnails'][0]['url'] }}" class="card-img-top" alt="video thumbnail" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ r['url'] }}" target="_blank" rel="noopener noreferrer">{{ r['title'] }}</a></h5>
        <p class="card-text"><a href="{{ r['channel_url'] }}" target="_blank" rel="noopener noreferrer">{{ r['channel'] }}</a></p>
      </div>
      <form>
        <button type="button" name="selection" onclick="start_download('{{ r['id'] }}')" class="btn btn-primary my-1">Add to queue</button>
      </div>
{% endfor %}
  </div>
</div>
{% endif %}

<script>
  const socket = io("{{ url_for('index') }}");

  function start_download(video_id) {
    console.log('downloading')
    socket.emit('start_download', { "video_id": video_id });
    location.href = "{{ url_for('search') }}";
  }

  function queue_random() {
    socket.emit('queue_random')
  }
</script>

{% endblock %}
