{% extends 'tv_base.html' %}

{% block head %}
<!-- <style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }

    #title {
        margin-top: 20px;
        color: #f2b70d;
    }

    #server-ip {
        margin-top: 20px;
    }

    #qr-code {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
    }
</style> -->
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row pt-3">
        <div class="col text-warning" id="title">
            <h2><img id="logo" src="/static/icons/logo.png" alt="logo" width="32px" height="32px"> OpenMic Karaoke! <img id="logo" src="/static/icons/logo.png" alt="logo" width="32px" height="32px"></h2>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col" id="server-ip">
            <h3>IP Address:</h3>
            <h3>http://{{ local_ip }}:{{ port }}</h3>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col" id="qr-code">
            <p>Scan QR Code to add a song</p>
            <p>Press F12 to toggle fullscreen</p>
            <img id="qr-image" src="/static/qrcode.png" alt="qrcode">
        </div>
    </div>
</div>

<script>
    const socket = io("{{ url_for('tv') }}");

    socket.on('play_video', function() {
        window.location.replace("{{ url_for('up_next') }}");
    });

</script>

{% endblock %}