{% extends 'tv_base.html' %}

{% block head %}
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
    #server-ip {
        font-size: 24px;
        margin-top: 20px;
    }
    #qr-code {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h2>Welcome to the TV Interface</h2>

<div id="server-ip">
    <h1>Server's Local IP Address:</h1>
    <h1>http://{{ local_ip }}</h1>
</div>

<div id="qr-code">
    <p>Scan QR Code to Access</p>
    <img id="qr-image" src="/static/qrcode.png" alt="qrcode">
</div>

<script>
    const socket = io("http://127.0.0.1:8080/tv");

    socket.on('play_video', function() {
        window.location.replace("{{ url_for('play_video' )}}");
    });

</script>

{% endblock %}