{% extends 'tv_base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <h2><img id="logo" src="/static/icons/logo.png" alt="logo" width="32px" height="32px"> OpenMic Karaoke</h2>
      </div>
      <div class="col text-end">
        <h2>Add your song: </h2>
      </div>
      <div class="col-1">
        <img src="/static/qrcode.png" width="128px" height="128px">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col d-flex justify-content-center img-fluid" id="video-container">
        <video id="video">
          <source src="/songs/{{ song }}.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <!-- Bottom banner -->
    {% if next_song %}
    <div class="row">
      <div class="col text-center text-warning pt-2">
        <h1>Up Next: {{ next_song['title'] + ' - ' + next_song['user'] }}</h1>
      </div>
    </div>
    {% endif %}
  </div>
  
  <script>
    const socket = io("{{ url_for('tv') }}");
    const video = document.getElementById('video');

    // autoplay workaround
    document.addEventListener('load',
      socket.emit('autoplay_workaround')
    );

    video.addEventListener('ended', function () {
      socket.emit('song_ended')
      location.href = "{{ url_for('tv') }}";
    });

    socket.on('player_restart', function () {
      video.currentTime = 0;
    });

    socket.on('player_pause', function () {
      if (!video.paused) {
        video.pause();
        socket.emit('player_paused')
      } else {
        video.play();
        socket.emit('player_resumed')
      }
    });

    socket.on('player_skip', function () {
      video.currentTime = video.duration;
    });
  </script>
{% endblock %}
