{% extends 'tv_base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2><img id="logo" src="/static/icons/logo.png" alt="logo" width="32px" height="32px"> OpenMic Karaoke</h2>
      </div>
      <div class="col d-inline-flex justify-content-end">
        <h2>Add your song: </h2>
        <img class="ms-2" src="/static/qrcode.png" width="84px" height="84px">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col d-flex justify-content-center">
        <video id="video" width="auto" height="{{ window_height * 0.85 }}">
          <source src="/songs/{{ song }}.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <!-- Bottom banner -->
    
    <div class="row">
      <div class="col text-center text-warning pt-2">
        {% if next_song %}
        <h1>Up Next: {{ next_song['title'] + ' - ' + next_song['user'] }}</h1>
        {% endif %}
      </div>
    </div>
  </div>

  <script>
    const socket = io("{{ url_for('tv') }}");
    const video = document.getElementById('video');

    // autoplay workaround
    document.addEventListener('load',
      socket.emit('autoplay_workaround')
    );

    video.addEventListener('ended', function () {
      socket.emit('song_ended')
      location.href = "{{ url_for('tv') }}";
    });

    socket.on('player_restart', function () {
      video.currentTime = 0;
    });

    socket.on('player_pause', function () {
      if (!video.paused) {
        video.pause();
        socket.emit('player_paused')
      } else {
        video.play();
        socket.emit('player_resumed')
      }
    });

    socket.on('player_skip', function () {
      video.currentTime = video.duration;
    });
  </script>
{% endblock %}
